extends layout

block content
  div.outer
    div.middle
      div.inner
        div#upload-zone 
          i.fa.fa-cloud-upload.fa-4x
          br
          p Drop upload here
          input#url(type="text" size="32").hide
  script(src='/js/index.js')